@{
  Layout = "_Layout";
}

@using SweetShop.Models;

<div class="container h-100">
  <div class="flavors h-75">
    <h4>Flavors</h4>
    @if (Model["flavors"].Length == 0)
    { 
      <p>No flavors have been added.</p>
    }

    @foreach (Flavor flavor in Model["flavors"])
    {
      @Html.ActionLink($"{@flavor.Name}", "Details", "Flavors", new { id = @flavor.FlavorId})<br>
    }
  </div>
  
  <div class="treats h-75">
    <h4>Treats</h4>
    @if (Model["treats"].Length == 0)
    {
          <p>No treats have been added.</p>
    }

    @foreach (Treat treat in Model["treats"])
    {
      @Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId})<br>
    }
  </div>
</div>